Source: filezilla-theme-papirus
Section: universe/x11
Priority: optional
Maintainer: Sergei Eremenko <finalitik@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/PapirusDevelopmentTeam/papirus-filezilla-themes

Package: filezilla-theme-papirus
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, filezilla
Description: Papirus theme for FileZilla
